<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817630497123-2c5jbc01l7k3cm97ga4e0ukc5clupo4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817630497123-2c5jbc01l7k3cm97ga4e0ukc5clupo4v</string>
	<key>API_KEY</key>
	<string>AIzaSyC-9LteXNx6AaQvg17ZNJWyiUBx3cA-7io</string>
	<key>GCM_SENDER_ID</key>
	<string>817630497123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deblur.PaintBoard</string>
	<key>PROJECT_ID</key>
	<string>paintboard-5583f</string>
	<key>STORAGE_BUCKET</key>
	<string>paintboard-5583f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817630497123:ios:c5f0510632f296dc1fab56</string>
</dict>
</plist>